basePath: /
definitions:
  request.Product:
    properties:
      created_by:
        type: string
      description:
        type: string
      name:
        type: string
      price:
        type: integer
      quantity:
        type: integer
    required:
    - created_by
    - description
    - name
    - price
    - quantity
    type: object
  response.ApiResponse:
    properties:
      code:
        type: string
      data: {}
      error: {}
      message: {}
      metadata: {}
    type: object
  response.StdPagination:
    properties:
      limit:
        type: integer
      next_page:
        type: boolean
      page:
        type: integer
      prev_page:
        type: boolean
      total:
        type: integer
    type: object
  utils.ValidationError:
    properties:
      parameter:
        type: string
    type: object
host: localhost:8080
info:
  contact:
    email: support@erajaya-test.com
    name: API Support
  description: Product management API
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: http://swagger.io/terms/
  title: erajaya-test Product API
  version: "1.0"
paths:
  /api/v1/products:
    get:
      consumes:
      - application/json
      description: Get a list of products with optional filtering and pagination
      parameters:
      - description: Search term
        in: query
        name: search
        type: string
      - description: Sort field
        in: query
        name: sort
        type: string
      - description: Page number
        in: query
        name: page
        type: integer
      - description: Items per page
        in: query
        name: limit
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/response.ApiResponse'
            - properties:
                data:
                  items:
                    $ref: '#/definitions/request.Product'
                  type: array
                metadata:
                  $ref: '#/definitions/response.StdPagination'
              type: object
        "500":
          description: Internal Server Error
          schema:
            allOf:
            - $ref: '#/definitions/response.ApiResponse'
            - properties:
                error: {}
              type: object
      summary: List all products
      tags:
      - products
    post:
      consumes:
      - application/json
      description: Create a new product with the provided information
      parameters:
      - description: Product object
        in: body
        name: product
        required: true
        schema:
          $ref: '#/definitions/request.Product'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            allOf:
            - $ref: '#/definitions/response.ApiResponse'
            - properties:
                data:
                  $ref: '#/definitions/request.Product'
              type: object
        "400":
          description: Bad Request
          schema:
            allOf:
            - $ref: '#/definitions/response.ApiResponse'
            - properties:
                error:
                  items:
                    $ref: '#/definitions/utils.ValidationError'
                  type: array
              type: object
        "500":
          description: Internal Server Error
          schema:
            allOf:
            - $ref: '#/definitions/response.ApiResponse'
            - properties:
                error: {}
              type: object
      summary: Create a new product
      tags:
      - products
  /api/v1/products/{id}:
    get:
      consumes:
      - application/json
      description: Get a single product by its ID
      parameters:
      - description: Product ID
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/response.ApiResponse'
            - properties:
                data:
                  $ref: '#/definitions/request.Product'
              type: object
        "404":
          description: Not Found
          schema:
            allOf:
            - $ref: '#/definitions/response.ApiResponse'
            - properties:
                error: {}
              type: object
        "500":
          description: Internal Server Error
          schema:
            allOf:
            - $ref: '#/definitions/response.ApiResponse'
            - properties:
                error: {}
              type: object
      summary: Get product by ID
      tags:
      - products
schemes:
- http
swagger: "2.0"
